body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #003366;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    height: 60px;
}

.slogan {
    margin-left: 30px;
    font-size: 2.5em; 
    margin-bottom: 10px;
    
}

.header-buttons .btn {
    background-color: #ffffff;
    color: #003366;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

.header-buttons .btn:hover {
    background-color: #cccccc;
}

main {
    background-image: url('images/image4.jpg');
    background-size: cover;
    height: calc(100vh - 120px); 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    color: white;
    
}


h1 {
    margin: 0;
}

.main-heading {
    margin-left: 30px;
    margin-top: 30px;
}

.neon-line {
    height: 2px;
    width: 100%;
    background-color: neon;
    margin: 10px 0;
}

.form-group {
    margin-bottom: 20px;
    margin-left: 30px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.search-btn {
    background-color: #003366;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 30px;
}

.search-btn:hover {
    background-color: #cccccc;
    color: #003366;
}

footer {
    background-color: #003366;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}
